In [ ]:
#Date 11/12/2025

                    #Python for ML
'''Data is of String / character data type is same as str
Python treats all the data type as the class

Learn : list . tuple , dictionary and set.



'''

In [26]:
#python treated this in triple quotes as a string
p='''Hello'''
print(p)
type(p)

Hello

str

In [ ]:
# print() is a function that prints a message or and a value of variables.
#How : 

'''
print('message',variable,variable,'message')

eg/ print('Number = ') gives you output : Number =


'''

In [25]:
x=10
print('Number =',x)

Number = 10

In [ ]:
'''To do the input we have the input function.
This function is used for inputting the values from the keyboard.
It will take one time one value as input only . This will accept
all the value in the str / string type

Syntax is variable_receiving = input("provide_message_here")

eg. 
'''

In [24]:
x = input('Enter a number')
print(x)

20

In [ ]:
'''To do the number type casting is int and float'''
x = int(input("Enter a number :"))
print("value of x =",x)

In [23]:
# example of float input
y = float(input("Enter a floating point value"))
print("Floating point value is =",y)

Floating point value is = 20.5555

In [22]:
# in three variable , do assignment of values
#python gives you the multi-assignment facility

x,y,z =10,20,30
print(x,"\t",y,"\t",z)

10 	 20 	 30

In [21]:
#this helps in quick swapping

a,b=2,3
print(a,b,"<Initially>")
a,b=b,a

print(a,b,"<finally>")

2 3 <Initially>
3 2 <finally>

In [19]:
#Area of Triangle by the heroe's formula

print(math.sqrt(49)) # primary gives an error

7.0

In [20]:
import math
print(math.sqrt(49))

7.0

In [18]:
# Area of triangle program
import math
a = float(input("Input the value of 1st side"))
b = float(input("Input the value of 2nd side"))
c = float(input("Input the value of 3rd side"))
s = (a+b+c)/2

ar = math.sqrt(s*(s-a)*(s-b)*(s-c))
print("The area is : ",ar)

The area is :  6.0

In [ ]:
'''Block of statements /Conditional Statements
here is a indented space 
a block begins with a colon.

we use the space that is indent space
we dont need to write
its default 4 spaces / 1 tab

eg.
     block:
         statement1
         statement2
         statement3
         statement4

    statement #This statement is outside the block

    All conditional statements , loops , classes are block
    like in the functions / classes etc. in C/C++ or Java

'''

In [ ]:
#Conditional statements in python

#eg. if condition :
         #-------code

'''
if else format

eg. if condition :
         #-------code
     else:
         #-------code
    
    
eg. of the nested if

    if condition1:
        if condition 2:
            #---------code


eg. of else if

    if condition :
         #-------code
    elif condition :
         #-------code
    elif condition :
         #-------code
     else:
         #-------code

eg. of switch case

match var:
    case val1:
        code
    
    case val2:
        code
    
    case val2:
        code
    case __: # default

'''

In [ ]:
#eg. of leap year

y = int(input("Enter year")) #input was 2024

if(y%4==0 and y%100!=0)or(y%400==0):
    print("Leap year")
else:
    print("Not a leap year")

Leap year